[submodule "nix-secrets"]
	path = nix-secrets
	url = git@github.com:5ysk3y/nix-secrets.git
[submodule "modules/applications/qutebrowser/dracula"]
	path = modules/applications/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser
