name: NixOS CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  flake-check:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Free up disk space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/local/lib/android
          df -h

      - name: Start ssh-agent and add deploy key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CI_GITHUB_SSH_KEY }}

      - name: Add GitHub to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Prepare age key
        if: ${{ secrets.SOPS_AGE_KEY != '' }}
        run: |
          sudo mkdir -p /var/lib/age
          echo "${{ secrets.SOPS_AGE_KEY }}" | sudo tee /var/lib/age/keys.txt > /dev/null
          sudo chmod 0640 /var/lib/age/keys.txt
          sudo chown root:root /var/lib/age/keys.txt
          sudo chmod 0755 /var/lib/age || true

      - name: Check Flake /w override nix-secrets
        run: |
          nix flake check \
            --no-write-lock-file \
            --override-input nix-secrets "git+ssh://git@github.com/5ysk3y/nix-secrets.git?ref=main&shallow=1"
