name: NixOS CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-gibson:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: DeterminateSystems/determinate-nix-action@v3

      - name: Free up disk space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/local/lib/android
          df -h

      - name: Start ssh-agent and add deploy key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CI_GITHUB_SSH_KEY }}

      - name: Add GitHub to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Prepare age key path
        run: |
          sudo mkdir -p /home/rickie/Sync/Private/Keys
          echo "${{ secrets.SOPS_AGE_KEY }}" | sudo tee /home/rickie/Sync/Private/Keys/sops-nix > /dev/null
          sudo chmod 600 /home/rickie/Sync/Private/Keys/sops-nix
          sudo chown -R $USER:$USER /home/rickie

      - name: Build gibson system
        run: |
          nix build .#nixosConfigurations.gibson.config.system.build.toplevel
